html,body {
    font-family: 'Raleway', sans-serif;
    padding: 3em 2em;
    font-size: 18px;
    background: #222;
    color: #aaa
}
p {
    color: dodgerblue;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    line-height: 2em;
}
